    <footer>
      <div class="container">
        <p>&copy; Copyright 2018. All Rights Reserved.</p>
        <!--
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
        -->
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="<%= host %>/js/jquery/jquery.min.js"></script>
    <script src="<%= host %>/js/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="<%= host %>/js/jquery-easing/jquery.easing.min.js"></script>

    <script src="<%= host %>/js/main.js"></script>

</body>
</html>