<%- include('../partials/header') %>

  <div class="container">
    <main role="main" class="inner cover text-center">
      <h1 class="cover-heading">Successfully registered.</h1>
      <p class="lead">You will receive further instructions from the event host with regards to the venue. You will also receive the welcome kit via the email address that you have provided.</p>
      <p class="lead">
        <a href="/" class="btn btn-lg btn-secondary">Back Home</a>
      </p>
    </main>
  </div>

<%- include('../partials/footer') %> 